DEBUG=False
SECRET_KEY=CHANGE_ME

ALLOWED_HOSTS=localhost,tibava.linguistik.uzh.ch
CSRF_TRUSTED_ORIGINS=http://localhost,https://localhost,https://tibava.linguistik.uzh.ch

MEDIA_URL=https://tibava.linguistik.uzh.ch/media/
THUMBNAIL_URL=https://tibava.linguistik.uzh.ch/thumbnails/
STATIC_ROOT=/static

DB_NAME=tibava
DB_USER=tibava
DB_PASSWORD=CHANGE_ME
DB_HOST=postgres
DB_PORT=5432

CORS_ORIGIN_ALLOW_ALL=False
CORS_ALLOW_CREDENTIALS=True

USE_X_FORWARDED_HOST=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_CONTENT_TYPE_NOSNIFF=True
SECURE_HSTS_SECONDS=0
REMOTE_USER_AUTH_ENABLED=True
